<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nazb.styleomega">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable"
                android:value=".SearchResult" />
        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".MainScreen" />
        <activity
            android:name=".Register"
            android:parentActivityName=".MainScreen" />
        <activity android:name=".SearchResult">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ManageAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>
        <activity
            android:name=".AllCategory"
            android:parentActivityName=".MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.nazb.styleomega.styleomegadatabase"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".DetailScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductsView" />
        </activity>
        <activity android:name=".ProductsView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AllCategory" />
        </activity>
        <activity android:name=".productInsertion" />
        <activity android:name=".ProductOption">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailScreen" />
        </activity>
        <activity android:name=".ShoppingCart">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductOption" />
        </activity>
        <activity android:name=".Checkout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingCart" />
        </activity>
        <activity android:name=".Inquiries">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailScreen" />
        </activity>
        <activity android:name=".Favourites">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>
        <activity android:name=".Orders">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>
        <activity android:name=".ServerSync" />
        <activity android:name=".AddAddress"></activity>
    </application>

</manifest>